.side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 21%;
    background-color: rgba(29, 162, 153, 0.7);
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 5;
    animation: menuSlide 1.5s ease-out forwards;
}

.side-menu::after {
    content: "";
    position: absolute;
    right: 2%;
    top: 37%;
    height: 25%;
    width: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
}

.menu-items {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 30px;
    width: 90%;
}

.btn-item {
    height: 70px;
    font-size: 1.02rem;
    background-color: transparent;
    color: #FFFFFF;
    transition: background-color 0.2s ease;
}

.btn-item:hover {
    background-color: #1DA299;
}

.btn-exit {
    background-color: #AAAAAA;
    color: #FFFFFF;
    height: 60px;
    width: min(330px, 90%);
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s ease;
}

.btn-exit:hover {
    background-color: #888888;
}

@keyframes menuSlide {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* 1600 * 900 */

@media (max-width: 1600px) {
    .btn-item {
        height: 58px;
        font-size: 0.85rem;
    }

    .btn-exit {
        height: 50px;
        width: min(275px, 90%);
        font-size: 1.083rem;
    }
}

/* 1366 * 768 */

@media (max-width: 1366px) {
    .btn-item {
        height: 50px;
        font-size: 0.726rem;
    }

    .btn-exit {
        height: 43px;
        width: min(235px, 90%);
        font-size: 0.925rem;
    }
}


/* 1280 * 720 */

@media (max-width: 1280px) and (max-resolution: 1.19dppx) {
    .btn-item {
        height: 47px;
        font-size: 0.68rem;
    }

    .btn-exit {
        height: 40px;
        width: min(220px, 90%);
        font-size: 0.867rem;
    }
}

/* Mobile */

@media (max-width: 768px) {
    .side-menu {
        position: fixed;
        width: 75%;
        z-index: 1000;
        animation: none;
        transform: translateX(-100%);
        transition: transform 0.4s ease-in-out;
        background-color: rgba(29, 162, 153, 0.97);
    }

    .side-menu.open {
        transform: translateX(0);
    }

    .side-menu::after {
    content: "";
    position: absolute;
    right: 2%;
    top: 37%;
    height: 25%;
    width: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
}

    .btn-item {
        height: 60px;
        font-size: 0.9rem;
    }

    .btn-exit {
        height: 50px;
        font-size: 1rem;
    }
}