.container {
    width: 100%;
    padding: 40px 50px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

/* 1600 * 900 */

@media (max-width: 1600px) {
    .container {
        padding: 33px 42px;
        border-radius: 8px;
    }
}

/* 1366 * 768 */

@media (max-width: 1366px) {
    .container {
        padding: 28px 36px;
        border-radius: 7px;
    }
}

/* 1280 * 720 */

@media (max-width: 1280px) and (max-resolution: 1.19dppx) {
    .container {
        padding: 27px 33px;
        border-radius: 7px;
    }
}

/* Mobile */

@media (max-width: 768px) {
    .container {
        padding: 0;
        border: none;
    }
}