.container {
    width: 100%;
    padding: 40px 50px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

/* Mobile */

@media (max-width: 768px) {
    .container {
        padding: 0;
        border: none;
    }
}