@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 12vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(190, 190, 190, 0.8)), url('/img/pexels-steve-29506613.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-left: 20%;
    animation: welcome-container-animation 0.5s ease-in;
}

.welcome-container h2 {
    font-family: Poppins, sans-serif;
    font-size: 70px;
    font-weight: medium;
    color: #FFFFFF;
}

.welcome-container span {
    color: #1DA299;
}

.illustration {
    width: 22%;
}

@keyframes welcome-container-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* 1600 * 900 */

@media (max-width: 1600px) {
    .welcome-container h2 {
        font-size: 58px;
    }
}

/* 1366 * 768 */

@media (max-width: 1366px) {
    .welcome-container h2 {
        font-size: 50px;
    }
}

/* Mobile */

@media (max-width: 768px) {
    .welcome-container {
        flex-direction: column;
        margin: 0;
        margin-top: 40%;
    }

    .welcome-container h2 {
        font-size: 2.3rem;
    }

    .illustration {
        width: 70%;
        margin-top: 10%;
        margin-right: 15%;
    }
}