URL_FRONT=http://localhost:5173,http://localhost,http://127.0.0.1:5173,http://127.0.0.1
DB_USER=
DB_PASSWORD=
DB_URL=
JWT_SECRET=
ENCRYPTION_SECRET=
ENCRYPTION_SALT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
REACT_NATIVE_PACKAGER_HOSTNAME=
EXPO_PUBLIC_API_URL=