.homepage-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

/* 1: Container externo (invisível) */
.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 26%;
    animation: welcome-container-animation 0.5s ease-in;
}

/* 2: Título */
.welcome-container h2 {
    font-family: Poppins, sans-serif;
    font-size: 70px;
    font-weight: 500;
    color: #FFFFFF;
}

.welcome-container span {
    color: #1DA299;
}

/* 3: Ilustração */
.illustration {
    width: 22%;
}

@keyframes welcome-container-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1600px) {
    .welcome-container h2 {
        font-size: 58px;
    }
}

@media (max-width: 1366px) {
    .welcome-container h2 {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .homepage-wrapper {
        justify-content: flex-start;
    }

    .welcome-container {
        flex-direction: column;
        margin-left: 0;
        margin-top: 150px;
    }

    .welcome-container h2 {
        font-size: 2.3rem;
    }

    .illustration {
        width: 70%;
        margin-top: 10%;
        margin-right: 16%;
    }
}
