.side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 400px;
    background-color: rgba(29, 162, 153, 0.7);
    position: absolute;
    top: 100px;
    left: 0;
    height: calc(100vh - 100px);
    animation: menuSlide 1.5s ease-out forwards;
}

.side-menu::after {
    content: "";
    position: absolute;
    right: 2%;
    top: 37%;
    height: 25%;
    width: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
}

.menu-items {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 30px;
    width: 90%;
}

.btn-item {
    background-color: transparent;
    color: #FFFFFF;
    transition: background-color 0.2s ease;
    height: 70px;
}

.btn-item:hover {
    background-color: #1DA299;
}

.btn-exit {
    background-color: #AAAAAA;
    color: #FFFFFF;
    height: 60px;
    width: 330px;
    transition: background-color 0.2s ease;
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-exit:hover {
    background-color: #888888;
}

@keyframes menuSlide {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* 1600 * 900 */

@media (max-width: 1600px) {
    .side-menu {
        width: 350px;
        top: 85px;
        height: calc(100vh - 85px);
    }

    .side-menu::after {
        top: 38%;
        height: 23%;
    }

    .btn-item {
        height: 60px;
        font-size: 0.85rem;
    }

    .btn-exit {
        height: 50px;
        width: 300px;
        font-size: 1.1rem;
    }
}

/* 1280 * 720 */

@media (max-width: 1280px) {
    .side-menu {
        width: 290px;
        top: 75px;
        height: calc(100vh - 75px);
    }

    .side-menu::after {
        top: 40%;
        height: 20%;
    }

    .btn-item {
        height: 50px;
        font-size: 0.75rem;
    }

    .btn-exit {
        height: 40px;
        width: 250px;
        font-size: 0.9rem;
    }
}