/* App.css */

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(190, 190, 190, 0.1)), url('/img/pexels-steve-29506613.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(190, 190, 190, 0.1)), url('/img/pexels-steve-29506613.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(6px);
    transform: scale(1.05);
    z-index: -1;
}

/* Classes Utilitárias comuns */

.icon-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: opacity 0.2s ease;
}

.icon-btn:hover {
    opacity: 0.7;
}

.action-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    filter: brightness(0) invert(1);
}

.item-content {
    flex-grow: 1;
    width: 100%;
    display: block;
}

.x-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    transition: opacity 0.2s ease;
}

.x-btn:hover {
    opacity: 0.7;
}

.x-btn-img {
    width: 28px;
    height: 28px;
    object-fit: contain;
    filter: brightness(0) invert(0);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.empty-state-text {
    font-family: 'Poppins', sans-serif;
    color: #3C7975;
    font-size: 1.2rem;
    text-align: center;
    margin: auto;
    font-weight: 500;
}

.spinner {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #FFFFFF;
    animation: spin 0.8s linear infinite;
    display: inline-block;
}

.icon-btn .spinner {
    margin-top: 0;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Animações Comuns */

@keyframes welcome-container-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* 1600 * 900 */

@media (max-width: 1600px) {
    .empty-state-text {
        font-size: 1rem;
    }

    .spinner {
        width: 17px;
        height: 17px;
        margin-top: 7px;
    }
}

/* 1366 * 768 */

@media (max-width: 1366px) {
    .empty-state-text {
        font-size: 0.854rem;
    }

    .spinner {
        width: 15px;
        height: 15px;
        margin-top: 4.5px;
    }
}


/* 1280 * 720 */

@media (max-width: 1280px) and (max-resolution: 1.19dppx) {
    .empty-state-text {
        font-size: 0.8rem;
    }
}

/* Mobile */

@media (max-width: 768px) {
    html,
    body {
        height: auto;
        min-height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .icon-btn {
        width: 25px;
        height: 25px;
        flex-shrink: 0;
    }

    .action-icon {
        width: 100%;
        height: 100%;
        max-width: none;
    }

    .empty-state-text {
        margin: 0 !important;
        margin-top: 10px !important;
        font-size: 1.1rem;
    }

    .spinner {
        width: 20px;
        height: 20px;
        margin-top: 5px;
    }
}