@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(190, 190, 190, 0.8)), url('/img/pexels-steve-29506613.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-logo {
    width: 20%;
    margin-bottom: 80px;
    animation: welcome-container-animation 0.5s ease-in;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    max-width: 700px;
    animation: welcome-container-animation 0.5s ease-in;
}

h2 {
    font-family: Poppins, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    color: #1DA299;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
}

input {
    font-size: 0.9rem;
    width: 350px;
}

.btn-enter {
    background-color: #1DA299;
    color: #FFFFFF;
    font-size: 1.3rem;
    height: 60px;
    width: 350px;    
    margin-top: 30px;
    margin-bottom: 15px;
    transition: background-color 0.2s ease;
}

.btn-enter:hover {
    background-color: #187e77;
}

@keyframes welcome-container-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* 1600 * 900 */

@media (max-width: 1600px) {
    .login-logo {
        width: 15%;
        margin-bottom: 90px;
    }

    .login-container {
        height: 400px;
        max-width: 650px;
    }

    h2 {
        font-size: 1.7rem;
    }

    .login-form {
        gap: 12px;
        margin-top: 10px;
    }

    .login-form input {
        font-size: 0.7rem;
        width: 300px;
    }

    .btn-enter {
        height: 55px;
        width: 300px;
        font-size: 1.1rem;
    }
}