.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgba(29, 162, 153, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}

.header-logo {
    width: 10%;
}

/* 1600 * 900 */

@media (max-width: 1600px) {
    .header {
        height: 85px;
    }

    .header-logo {
        width: 8.5%;
    }
}

/* 1280 * 720 */

@media (max-width: 1280px) {
    .header {
        height: 75px;
    }

    .header-logo {
        width: 8%;
    }
}